@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

*
{
  margin: 0;
  padding: 0;
}

body
{
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2044837-jpeg.jpg"), center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 12pt;
  font-family:'Spartan';
  color: #2A293E;
  }
  
.form-body
{
  background: #f8f4e5;
  padding: 50px 100px;
  border-top: 10px solid #f45702;
}

p, input, textarea
{
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 12pt;
  font-family: 'Spartan';
  padding: 10px;
}
    
input
{
  margin-bottom: 12pt;
}
    
h3
{
  font-weight: normal;
  font-size: 10pt;
  line-height: 12pt;
  font-style: italic;
  margin: 0 0 .5em 0;
}
    
span
{
  font-size: 8pt;
}
  
em
{
  color: #f45702;
  font-weight: bold;
}
  
input, textarea
{
  border: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}
  
input:focus, textarea:focus
{
  border: 1px solid #6bd4b1;
}
 
textarea
{
  resize: none;
}
  
button
{
  display: block;
  float: right;
  line-height: 12pt * 2;
  padding: 10px;
  border: none;
  border-radius: 12px;
  background: #973717;
  color: white;
  letter-spacing: 2px;
  transition: .2s all ease-in-out;
  border-bottom: 2px solid transparent;
  outline: none;
  font-weight: bold;
}
  
  button:hover
  {
    background: inherit;
    color: #24201e;
    border-bottom: 2px solid #f45702;
  }
  
button::selection
{
  background: rgb(207, 55, 13);
}

h1
{
    padding: 5px;

}


